body {
    background-color: #8FEF9F;
}

.search-city {
    height: 30vh;
    width: 50vh;
    margin-left:auto ;
    margin-right: auto;
    display: grid;
    /* border: 2px solid aquamarine; */
}

.search-city-box {
    text-align: center;
    font-size: 30px;
    border-radius: 14px;
}

.search-city-btn {
    height: 50%;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    color: white;
    background-color: black !important;
}